.login-page{
  .box{
    transition: left 2s;
    position: relative;
    margin:100px auto;
    left:0;
    width: 350px;
    height: auto;
    text-align: center;
    .header{
      position: absolute;
      top:0;left:0;
      padding: 15px;
      height:70px;
      background-color: #3c8dbc;
      text-align: left;
      h1{
        line-height: 40px;
      }
      .fa{
        margin-right:10px;
      }
    }
    input{
      padding: 0 10px;
      height:40px;
      width:100%;
      font-size: 1rem;
      outline: none;
      &:focus{
        outline:1px solid #3c8dbc;
        &~ .fa{
          transition: all .5s;
          color:#444;
        }
      }
    }
    .input{
      position: relative;
      margin:20px 0;
      .fa{
        position: absolute;
        color:#ddd;
        right:5%;
        top: 28%;
      }
      .fa-lock{
        right:6%;
      }
    }
    .login-btn{
      position: absolute;
      bottom:-35px;
      left:0;right:0;
      margin:auto;
      width:80px;
      height:80px;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      &:before{
        content: "";
        display: block;
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        margin:auto;
        border: 2px solid #f39c12;
        height:80%;
        width:80%;
        border-radius: 50%;
      }
      span{
        color:#f39c12;
        line-height: 4.8rem;
      }
    }
    .left{
      position: absolute;
      bottom:10px;
      left:5px;
      font-size: .9rem;
      color: #3c8dbc;
      cursor: pointer;
    }
    .right{
      position: absolute;
      bottom:10px;
      right:10px;
      font-size: .9rem;
      color: #3c8dbc;
      cursor: pointer;
    }
  }
}
