.card-pack{
  padding-bottom: 100px;
  table{
    background-color: #fff;

    border-collapse: collapse;
    width:100%;
  }
  td{
    padding: 10px;
    &:last-child{
      text-align: right;
    }
  }
  tr{
    &:first-child{
      border-bottom:1px solid #ddd;
    }
  }
  th{
    text-align: left;
    padding: 10px;
    border: none;
  }
}
