.card-pack{
  padding-bottom: 100px;
  table{
    background-color: #fff;
    border-collapse: collapse;
    width:100%;
  }
  td{
    padding: 10px;
    border:none;
    text-align: left;
    text-indent: 10px;
    &:last-child{
      text-align: right;
    }
    &:nth-child(1){
      font-weight: 800;
      font-size: 1.2rem;
      &:hover{
        border-radius: 10px;
        transition: all 1s;
        background-color: rgba(255,255,255,.5);
        transform: scale(2);
      }
    }
  }
  tr{
    &:first-child{
      border-bottom:1px solid #ddd;
    }

  }
  th{
    text-align: left;
    padding: 10px;
    border: none;
    font-weight: 100;
  }
}
