.btn-component{
  position: relative;
  display: inline-block;
  .button{
    transition: all .3s;
    display: inline-block;
    background-color: #3c8dbc;
    color:#fff;
    min-width:70px;
    height:35px;
    cursor: pointer;
    // border:1px solid #ddd;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    padding: 0 5px;

    .fa{
      margin:0 5px;
    }
    &.loading{
      cursor:wait;
      transition: all .5s;
      padding: 0 10px;

      background-color: rgba(243,156,18,.5);
    }
    &.fail{
      background-color: #dd4b39;
    }
  }
}
