.card{
  .content{
    margin-top:20px;
  }
  img{
    width:200px;
  }
  .other{
    float: right;
    border:1px solid #ddd;
    border-top:5px solid #00a65a;
    width:20%;
    background-color: #fff;
    padding: 10px;
  }
  .detail{
    display: inline-block;
    background-color: #fff;
    border:1px solid #ddd;
    width:55%;
    position: absolute;
    .tab{
      >li{
        display: inline-block;
        margin:0 0 0 5px;
        padding:15px;
        float: right;
        border-top:3px solid transparent;
        cursor: pointer;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
        &:first-child{
          padding:10px;
          float: left;
        }
        .fa{
          position: absolute;
          color: #444;
        }
      }
      .active{
        border:1px solid #ddd;
        border-top:3px solid #3c8dbc;
        border-bottom:1px solid #fff;
      }
    }
    .box{
      margin-top:-1px;
      border-top:1px solid #ddd;
      padding: 10px;
    }

  }
  .info{
    display: inline-block;
    text-align: center;
    width:20%;
    ul{
      margin:20px 5px;
      text-align: left;
      background-color: #fff;
      border:1px solid #ddd;
      li{
        padding: 10px;
        border-top:1px solid #ddd;
        &:first-child{
          border:none;
          font-size: 1.5rem;
        }
        .fa{
          margin-left:5px;
          color:#00a65a;
        }
        .price{
          float:right;
        }
      }
    }

  }
}
