.page-list{
  margin:10px;
  ul{
    li,a{
      text-decoration: none;
      color:#000;
      display: inline-block;
      border: 1px solid #aaa;
      border-right:none;
      text-align: center;
      min-width:30px;
      line-height:2rem;
      cursor: pointer;
      &:first-child{
        border-radius: 5px 0 0 5px;
      }
      &:last-child{
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #aaa;
      }
      &:hover{
        background-color: #ddd;
        border:1px solid #aaa;
        border-right:none;
      }

    }
    .active{
      border:1px solid #337ab7;
      color:#fff;
      background-color: #337ab7;
    }

  }
  .disabled{
    cursor:not-allowed;
  }
}
