.search-page{
  h1{
    margin-bottom:20px;
  }
  .board{
    display: inline-block;
    background-color: #fff;
    border-top:5px solid #ddd;
    width:80%;
    padding: 10px;
    overflow: auto;
    .fa-meh-o{
      display: block;
      text-align: center;
      span{
        font-size: 2rem;
        top: -10px;
        left:10px;
        position: relative;
      }
    }
  }
  .other{
    width:18%;
    float: right;
    padding: 10px;
    border-top:5px solid #3c8dbc;
    background-color: #fff;
  }
  .sort{
    float: left;
    font-size: 1.2rem;
    span{
      margin:10px;
      color:#333;
    }
    .active{
      color:#3c8dbc;
    }
  }
  .page-list{
    float: right;
  }

}
