.deck-list{
  padding: 10px;
  
  tr{
    th{
      &:first-child{
        width:63%;
      }
      &:nth-child(2){
        width:15%;
      }
      &:nth-child(3){
        width:15%;
      }
    }
  }
}
