.pack-page{
  text-align: center;
  h1{
    text-align: left;
  }
  .list{
    margin-top:10px;
    background-color: #fff;
    padding: 10px;
    width:100%;
    a{
      display: inline-block;
      color: #3c8dbc;
      margin:10px 5px;
      img{
        width:100px;
      }
    }
  }
}
