.pack-page{
  .list{
    margin-top:10px;
    background-color: #fff;
    padding: 10px;
    width:100%;
    a{
      display: inline-block;
      position: relative;
      color: #3c8dbc;
      margin:10px 5px;
      img{
        width:100px;
      }
      p{
        position: relative;
        bottom: -6px;
      }
    }
  }
}
