.single-menu{
  display: block;
  padding:10px 15px;
  height:50px;
  border-left: 5px solid rgba(0,0,0,0);
  line-height: 2rem;
  transition: all .2s;
  letter-spacing:1px;
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  &:hover{
    background-color: #374850;
    border-left: 5px solid #3c8dbc;
    cursor: pointer;
    color:#fff;
  }
  span{
    margin-right:10px;
    color: rgba(255,255,255,0.5);
  }

}
