.ban-page{
  .title{
    background-color: #fff;
    padding: 5px;
    font-size: 2rem;
    border-radius: 5px 5px 0 0 ;
    margin:10px 0 0 0 ;
  }
  .list{
    padding:20px;
    background-color: #fff;
    img{
      width:100px;
      margin:0 2px;
    }
  }
  .red{
    border-bottom:2px solid #dd4b39;
  }
  .orange{
    border-bottom:2px solid #f39c12;
  }
  .blue{
    border-bottom: 2px solid #00c0ef;
  }

}
