.header{
  color:#fff;
  width:100%;
  div{
    // display: inline-block;
    padding:10px;
    height: 50px;
  }
  .logo{
    width:230px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #337ab7;
    line-height: 2rem;
    float: left;
  }
  .info-bar{
    background-color: #3c8dbc;
    overflow:hidden;
    .right-bar{

      display: inline-block;
      float: right;
      line-height: 10px;

      .fa{
        padding: 0 10px;
      }
    }
  }
}
