.card-comment{
  ul{
    li{
      position: relative;
      border:1px solid #ddd;
      display: block;
      padding: 10px 0 30px;
      margin:5px 0;
      .info{
        img{
          width:80px;
          height:80px;
          border-radius: 50%;
        }
      }
      span{
        position: absolute;
        top:0;
      }
      .fnc-bar{
        position: absolute;
        bottom:0;left:0;
        // border-top: 1px solid #ddd;
        width:100%;
        height: 20px;
        li{
          border:none;
          display: inline-block;
          padding: 0 ;
          margin: 0;
        }
        .date{
          float: right;
          right:10px;
        }
      }
    }
  }
}
