.nav{
  display: inline-block;
  color:#fff;
  background-color: #222d32;
  width:16%;
  height:100%;
  .user{
    padding:15px 10px;
    img{
      width:70px;
      border-radius: 50%;
      float: left;
    }
  }
  .info{
    overflow: hidden;
    height:100%;
    padding:5px 10px;
    >p:first-child{
      font-size: 1.3rem;
    }
    p{
      line-height: 1.5rem;
    }
  }

}
